# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcuserdatad/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
deliver/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# SwiftPM Xcode integration
.sourcekitten/

# Archives
*.xcarchive

# User-specific
*.swp
*.swm
*.swo
*.idea/
*.iml

# Temporary files
*.tmp
*.temp
*.log
